
header {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.LeftBanner {
    background-color: azure;
    width: 300px;
}

h1 {
    margin: 0;
    font-size: 42px;
    background-color: blue;
}

.NavButtonsContainer {
    display: flex;
    justify-content: space-around;
}

h4 {
    width: 150px;
    background-color: blueviolet;
}

h4:hover {
    background-color: aliceblue;
}

.AuthenticationBanner {
    background-color: blue;
    height: 50px;
    width: 500px;
}